## Imports and fetching data

In [ ]:
import pandas as pd
import numpy as np
import re

In [ ]:
df = pd.read_csv("titanic.csv")

## Exploring data

In [ ]:
df

In [ ]:
df["Age"].isnull().sum()

## Fixing age as Int

In [ ]:
# chekcing NaN for age

ageNa = df["Age"].isnull().sum()

print(f"Ammount of Nan Values in Age Series: {ageNa}")

In [ ]:
# filling age na with -1
df["Age"] = df["Age"].fillna(-1)

# casting type
df["Age"] = df["Age"].astype("int")

In [ ]:
# Checking that fillna worked
ageNa = df["Age"].isnull().sum()

print(f"Ammount of Nan Values in Age Series after fillna: {ageNa}")

In [ ]:
# Confirming that the typecast worked
df.info()

# Feature engineering text data

In [ ]:
# Casting to lowercase to make text easier to work with

df["Name"] = df["Name"].apply(lambda x: str.lower(x))

In [ ]:
def title_extractor(name: str) -> str:
    title = re.search(" [a-z]*\.", name).group(0)
    title = re.sub("\.", "", title)
    return title

In [ ]:
df["Name"]

In [ ]:
df["Title"] =  df["Name"].apply(lambda x: title_extractor(x))

In [ ]:
df["Title"].value_counts()

## First Name extraction

In [ ]:
def first_name_extractor(name: str) -> str:
    first_name = re.search(r"^[a-z]*\,", name)
    
    try:
        first_name = first_name.group(0)
        first_name = re.sub(r"\,", "", first_name)
    except:
        first_name = "Undefined"

    return first_name

In [ ]:
def last_name_extractor(name: str) -> str:
    last_name = re.search(r"\. [a-z]*", name)
    
    try:
        last_name = last_name.group(0)
        last_name = re.sub(r"^\. ", "", last_name)
    except:
        last_name = "Undefined"

    return last_name

In [ ]:
df["Name"]
#df["First Name"] = df["Name"].apply(lambda x: first_name_extractor(x))

In [ ]:
df["Last Name"] = df["Name"].last.apply(lambda x: last_name_extractor(x[2]))

# Making ordinal categories for age (usefull for classification later on)

In [ ]:
def age_to_ordinal(age: int) -> int:
    if age < 26:

In [ ]:
df["Age Category"] =

In [ ]:
# Just looking at age categorie to see effect
df["Age Category"].value_counts()

In [ ]:
# Fancy bonus plot if you want to
df["Age Category"]

In [ ]:
df

## Dealing with rest of NaN
Since ish 80% of cabin is nan, it is doesn't make sense to drop it, thusly just filling rest of dataframe with Undefined for NaN values, however do not do this to deal with NaN in numerical columns (Series in panda language) as this would change the datatype (then you could use -1 instead as shown above)

In [ ]:
# Filling Fare NaN float value of -1.0
df["Fare"] = 

# Filling NaN in the two remaining string columngs (thought this hits entire df)
df =

In [ ]:
df.isna().sum()

In [ ]:
df